{% extends 'base.html' %} }}
{% block content %}
<div class="container">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://www.avtobanket.ru/upload/image_gallery/3805/800x_86cc329d72240cb7dfa3a5d0aba54fb2.jpg" class="d-block w-100" alt="111">
    </div>
    <div class="carousel-item">
      <img src="https://cf.ua/m/blog/42c08a866f7b3f339b4f2a1303364f01/images/1/mayachok-5e6b4b1bc96ae.jpg" class="d-block w-100" alt="222">
    </div>
    <div class="carousel-item">
      <img src="https://www.avtobanket.ru/upload/image_gallery/3805/800x_86cc329d72240cb7dfa3a5d0aba54fb2.jpg" class="d-block w-100" alt="333">
    </div>
    <div class="carousel-item">
      <img src="https://cf.ua/m/blog/42c08a866f7b3f339b4f2a1303364f01/images/1/mayachok-5e6b4b1bc96ae.jpg" class="d-block w-100" alt="222">
    </div>
<button class="carousel-control-prev" style="opacity: .1" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="false"></span>
    <span class="visually-hidden">Попередня</span>
  </button>
  <button class="carousel-control-next" style="opacity: .1" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="false"></span>
    <span class="visually-hidden">Наступна</span>
  </button>
  </div>
  </div>
  </div>

{% endblock %}